<div class="entity">
    <h2>Quicksorts</h2>
    <jh-alert></jh-alert>
    <div class="container">
        <div class="row">
            <div class="col-md-4">
                <button class="btn btn-primary" ui-sref="quicksort.new">
                    <span class="glyphicon glyphicon-flash"></span> <span>Create a new Quicksort</span>
                </button>
            </div>
        </div>
    </div>

    <div class="modal fade" id="deleteQuicksortConfirmation">
        <div class="modal-dialog">
            <div class="modal-content">
                <form name="deleteForm" ng-submit="confirmDelete(quicksort.id)">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                                ng-click="clear()">&times;</button>
                        <h4 class="modal-title">Confirm delete operation</h4>
                    </div>
                    <div class="modal-body">
                        <p>Are you sure you want to delete this Quicksort?</p>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="clear()">
                            <span class="glyphicon glyphicon-ban-circle"></span>&nbsp;<span>Cancel</span>
                        </button>
                        <button type="submit" ng-disabled="deleteForm.$invalid" class="btn btn-danger">
                            <span class="glyphicon glyphicon-remove-circle"></span>&nbsp;<span>Delete</span>
                        </button>
                    </div>
                </form>
            </div>
        </div>
    </div>

    <div class="table-responsive">
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>ID</th>
                    <th>Unsorted</th>
                    <th>Sorted</th>
                    <th>ExecutionTime</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="quicksort in quicksorts">
                    <td><a ui-sref="quicksort.detail({id:quicksort.id})">{{quicksort.id}}</a></td>
                    <td>{{quicksort.unsorted |limitTo:30}}{{quicksort.unsorted.length > 30 ? '...' : ''}}</td>
                    <td>{{quicksort.sorted |limitTo:30}}{{quicksort.sorted.length > 30 ? '...' : ''}}</td>
                    <td>{{quicksort.executionTime |number}} microseconds</td>
                    <td>
                        <button type="submit"
                                ui-sref="quicksort.detail({id:quicksort.id})"
                                class="btn btn-info btn-sm">
                            <span class="glyphicon glyphicon-eye-open"></span>&nbsp;<span> View</span>
                        </button>
                        <button type="submit"
                                ui-sref="quicksort.edit({id:quicksort.id})"
                                class="btn btn-primary btn-sm">
                            <span class="glyphicon glyphicon-pencil"></span>&nbsp;<span> Edit</span>
                        </button>
                        <button type="submit"
                                ng-click="delete(quicksort.id)"
                                class="btn btn-danger btn-sm">
                            <span class="glyphicon glyphicon-remove-circle"></span>&nbsp;<span> Delete</span>
                        </button>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
